.first1{
    background-image: url("./../assets/images/slide-backgrounds/biggest.jpg");
}

.first2{
    background-image: url("./../assets/images/slide-backgrounds/smallest.jpg");
}

.first3{
    background-image: url("./../assets/images/slide-backgrounds/oldestSets.jpg");
}

.sec1{
    background-image: url("./../assets/images/slide-backgrounds/top5star.jpg");
}

.sec2{
    background-image: url("./../assets/images/slide-backgrounds/top5harry.jpg");
}

.sec3{
    background-image: url("./../assets/images/slide-backgrounds/top5batman.jpg");
}

.third1{
    background-image: url("./../assets/images/slide-backgrounds/marvelvsdc.jpg")
}

.third2{
    background-image: url("./../assets/images/slide-backgrounds/technic.webp")
}

.third3{
    background-image: url("./../assets/images/slide-backgrounds/trueSets.jpg")
}