.Border{
    position: absolute;
    z-index: 99;
    background: url("../assets/images/border.png") repeat-x;
    background-size: 800px;
    height: 100px;
    pointer-events: none;
    width: 100%; 
}

.borderUp{
    top: 550px
}

.borderDown{
    transform: translateY(-100%) rotate(180deg);
}

.slides {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 200px 0;
}

.slides-1{
    margin-top: 100px;
}

.slides-3{
    margin: 0 0;
}