*{
    margin: 0;
    padding: 0;
    --amarelo: #FFCF00
}

@font-face {
    font-family: Cera;
    src: url("assets/fonts/Cera\ Pro\ Medium.otf");
    font-weight: normal;
}

@font-face {
    font-family: Cera;
    src: url("assets/fonts/Cera\ Pro\ Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: Cera;
    src: url("assets/fonts/Cera\ Pro\ Light.otf");
    font-weight: 100;
}

.mainBackground{
    position: fixed;
    z-index: -5;
    object-fit: cover;
    width: 100%;
    height: 100%;
}