footer{
    width: 100%; 
    min-height: 340px; 
    background-color: #201D48;
    color: white;
    font: 100 18px "Cera";
}

footer main{
    display: flex;
}

footer main span{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer main div{
    width: 75%;
    display: flex;
    justify-content: space-around;
}

footer aside{
    margin-left: 3%;
}

footer ul{
    list-style-type: none;
    margin-top: 50px;
}

footer li{
    font-size: 20px;
    margin-bottom: 14px;
}

footer h1{
    font-size: 26px;
    margin-bottom: 18px;
}

@media (max-width: 900px){ 
    footer li h1{
        font-size: 20px;
    }

    footer li{
        font-size: 17px;
    }

    footer main div{
        width: 95%;
    }

    footer main span{
        display: none;
    }
}

@media (max-width: 550px){
    footer main{
        flex-direction: column;
        margin-left: 8%;
    }

    footer main span{
        margin: 30px 0 30px 0;
        display: block;
    }
    
    footer main div{
        flex-direction: column;
    }

    footer ul{
        margin-top: 20px;
    }

    footer li h1{
        font-size: 24px;
    }

    footer li{
        font-size: 20px;
    }

    footer aside{
        margin-left: 8%;
    }

    .grupo{
        display: none;}
}

